<section class="content-header">
    <h1>
        用户车源信息
        <small>preview of simple tables</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/welcome"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">用户车源信息</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">用户车源信息</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form class="form-horizontal">
                        <div class="row form-group">
                            <div class="col-xs-3">
                                <div class="input-group">
                                    <span class="input-group-addon">用户ID</span>
                                    <input type="text" class="form-control" id="userId" value="$!userId">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="btn-group">
                                    <span><button type="button" class="btn btn-info" id="search">搜索</button></span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table class="table table-bordered" id="table"
                           data-row-style="rowStyle"
                           data-pagination="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-showColumns="true">

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
#set($cssUrls=[
    "/plugins/bootstrap-table/bootstrap-table.min.css",
    "/plugins/datepicker/datepicker3.css"
])
#set($jsUrls=[
    "/plugins/bootstrap-table/bootstrap-table.js",
    "/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js",
    "/plugins/bootstrap-table/bootstrap-table-export.js",
    "/plugins/bootstrap-table/tableExport.js",
    "/plugins/datepicker/bootstrap-datepicker.js",
    "/plugins/datepicker/bootstrap-datepicker.zh-CN.js",
    "/plugins/cxselect/jquery.cxselect.js",
    "/js/custom/usercarinfo/list.js"
])